# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [12]:
# Your code goes here

import pandas as pd

file_1 = "cleaned_file.csv"
file_2 = "cleaned_file_2.csv"
file_3 = "cleaned_file_3.csv"

df_1 = pd.read_csv(file_1)
df_2 = pd.read_csv(file_2)
df_3 = pd.read_csv(file_3)

# display(df_1)
# display(df_2)
# display(df_3)

#func to clean data before merge 
def clean_data(df):
   
    df = df.dropna()  
    df = df.rename(columns=lambda x: x.strip()) 
   
    return df

df_1_cleaned = clean_data(df_1)
df_2_cleaned = clean_data(df_2)
df_3_cleaned = clean_data(df_3)

combined_dfs = pd.concat([df_1_cleaned, df_2_cleaned, df_3_cleaned], ignore_index=True)
#combined_dfs.head()
combined_dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9138 entries, 0 to 9137
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9138 non-null   object
 1   state                      9138 non-null   object
 2   gender                     9138 non-null   object
 3   education                  9138 non-null   object
 4   customer_lifetime_value    9138 non-null   int64
 5   income                     9138 non-null   int64
 6   monthly_premium_auto       9138 non-null   int64
 7   number_of_open_complaints  9138 non-null   int64
 8   policy_type                9138 non-null   object
 9   vehicle_class              9138 non-null   object
 10  total_claim_amount         9138 non-null   int64
dtypes: int64(5), object(6)
memory usage: 785.4+ KB

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [24]:
# Your code goes here
file_4 = "https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv"
df_4=pd.read_csv(file_4)

#display(df_4)


# 1 total revenu per sales_channel
total_rev_sale =df_4.pivot_table(index = "customer", columns = "sales_channel", values = "total_claim_amount", aggfunc="sum").round(2)
total_rev_sale
# 2 avg customers lifetime val by gender and education

avg_clv_by_gender_education =df_4.pivot_table(index='gender', columns='education', values='customer_lifetime_value', aggfunc='mean').round(2)
avg_clv_by_gender_education

education  Bachelor  College   Doctor  High School or Below   Master
gender
F           7874.27  7748.82  7328.51               8675.22  8157.05
M           7703.60  8052.46  7415.33               8149.69  8168.83

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here